.latest-news {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  padding: 20px;
  max-width: 1244px;
  width: 80%;
}

.news-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left; 
}

.news-container h1 {
  color: var(--h1-dark-blue);
  font-size: 36px;
  text-align: left;
}

.content-columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 415px) {
  .news-container {
    width: 100%;
  }

  .youtube-video-container {
    display: none;
  }
}
