.latest-news {
  width: 95%;
  margin: 0 auto;
}

.news-container {
  padding: 0px 103px 10px 81px;
}

.news-container h1 {
  color: var(--h1-dark-blue);
  font-size: 36px;
}

.tabs-component {
  padding-left: 81px;
}

.content-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
