.latest-news-list .view-all-button {
}

.latest-news-list button {
  background: #0ab1ee;
  color: white;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 43px;
  flex-shrink: 0;
  margin-top: 10px;
}

