.social-media-news {
  padding-top: 43px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-flexbox {
  width: 90%;
}

.social-content-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

@media only screen and (max-width: 415px) {
  .social-content-columns {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
