.box {
  height: 627px;
  width: 378px;
  position: relative;
  background-color: #2f528e;
  border-radius: 30px;
}

.image-container {
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.story-image {
  width: 378px;
  height: 176px;
  object-fit: cover;
}

.text-container {
  padding: 20px;
}

.header {
  color: #fff;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  text-transform: capitalize;
}

.text-container p {
  color: rgba(255, 255, 255, 0.77);

  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  text-transform: capitalize;
}

.read-more-link {
  display: block;
  margin-top: 10px;
  color: #2f528e;
  text-decoration: none;
  font-weight: bold;
}
