footer {
  height: 198px;
  flex-shrink: 0;
  background: #375992;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  left: 0;
}

.lines {
  width: 80%;
  max-width: 80%;
  max-width: 1244px;
}
.first-line {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  line-height: 20px;
}

.first-line-links-list {
  list-style-type: none;
  display: flex;
  gap: 22px;
}

.first-line-links-list li {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
}

.second-line p {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-transform: capitalize;

  padding-bottom: 10px;
}

.third-line-links-list {
  list-style-type: none;
  display: flex;
  gap: 22px;
}

.third-line-links-list li {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-transform: capitalize;
  padding-left: 0px;
}

.first-line-social-icons {
  display: flex;
}
.first-line-social-icons img {
  width: 26px;
  height: 26px;
}
.first-line-social-icons ul {
  list-style-type: none;
  display: flex;
  gap: 22px;
}

@media only screen and (max-width: 415px) {
  footer {
    height: auto;
  }

  .first-line {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 10px;
  }

  .first-line-links-list {
    flex-wrap: wrap;
    width: 100%;
  }

  .first-line-links-list li {
    flex-basis: calc(50% - 11px);
    margin-bottom: 5px;
    text-align: left;
  }

  .first-line-social-icons ul {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .second-line p,
  .third-line-links-list li {
    text-align: left;
    padding-left: 40;
  }
}
