.our-stories {
  width: 95%;
  margin: 0 auto;
}

.stories-container {
  padding: 46px 13px 30px 81px;
}

.stories-container h1 {
  color: var(--h1-dark-blue);
  font-size: 36px;
}

.tabs-component {
  padding-left: 81px;
}
