.our-stories {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.stories-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.stories-container h1 {
  color: var(--h1-dark-blue);
  font-size: 36px;
}

@media only screen and (max-width: 415px) {
  .tabs-component {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .our-stories {
    width: 100%;
  }
  .stories-container {
    padding: 15px;
  }

  .stories-container h1 {
    text-align: left;
    margin: 0;
  }
}
