.nheader-logo-image-white-nm {
  width: 70%;
  height: 4rem;
  background-color: transparent;
  margin-left: 80px;
  transition: 0.4s;
  margin-top: 5px;
}

.nheader-logo-image-tr-nm {
  width: 100%;
  height: 7rem;
  background-color: transparent;
  transition: 0.4s;
  margin-left: 80px;
}

.new-header-showmenu-nm {
  flex-direction: column;
  z-index: 2;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #2f528e;
}

.new-header-nm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: transparent; */
  background: linear-gradient(
    0deg,
    rgba(9, 9, 121, 0) 35%,
    rgba(47, 49, 50, 1) 100%
  );
}
