header {
  min-height: 100vh;
  background: linear-gradient(180deg, #ebf0ff 0%, #5874a6 0.01%, #2f528e 100%);
  margin-bottom: 100px;
}

header .wrapper {
  margin: 0 auto;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0px;
  background: linear-gradient(180deg, #ebf0ff 0%, #5874a6 0.01%);
}

header .container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 121px;
  padding-right: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-column {
  display: flex;
  line-height: 40px;
}
form {
  display: flex;
  border-radius: 30px;
  position: relative;
  width: 355px;
  height: 40px;
  border-radius: 30px;
  background-color: white;
}
.search-input {
  width: 290px;
  height: 40px;
  border-radius: 30px;
  border: none;
  text-indent: 39px;
  font-size: 20px;
  color: var(--search-placeholder);
  overflow: hidden;
}

button[type="submit"] {
  position: absolute;
  background: transparent;
  border: none;
  top: 7px;
  right: -75px;
}

button[type="submit"]:hover {
  opacity: 1;
}
.search-input::placeholder {
  color: var(--search-placeholder);
  font-weight: 500;
  font-size: 20px;
  padding: 10px 0px 10px;
}
.search-input:focus {
  outline: none;
}
.sort-logo {
  margin-right: 39px;
  width: 36px;
}

.logo-image {
  width: 144px;
  height: 144px;
  background-color: white;
}
