header {
  background: linear-gradient(180deg, #ebf0ff 0%, #5874a6 0.01%, #2f528e 100%);
}

header .wrapper {
  display: flex;
  justify-content: center;
  min-width: 1148px;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0px;
  background: linear-gradient(180deg, #ebf0ff 0%, #5a75a6 0.01%);
}

header .container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.right-column {
  display: flex;
  line-height: 30px;
}
.right-column form {
  display: flex;
  border-radius: 30px;
  position: relative;
  width: 255px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
}
.search-input {
  width: 195px;
  border-radius: 30px;
  border: none;
  text-indent: 39px;
  font-size: 16px;
  color: var(--search-placeholder);
  overflow: hidden;
  height: 30px;
}

.right-column button[type="submit"] {
  position: absolute;
  background: transparent;
  border: none;
  top: 4px;
  right: 25px;
}
.search-form img {
  width: 20px;
  height: 20px;
}

button[type="submit"]:hover {
  opacity: 1;
}
.search-input::placeholder {
  color: var(--search-placeholder);
  font-weight: 400;
  font-size: 16px;
}
.search-input:focus {
  outline: none;
}
.sort-logo {
  margin-right: 39px;
  width: 26px;
  height: 26px;
}

.header-logo {
  width: 70px;
  height: 70px;
}
.logo-image {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px;
}

.selectdiv select {
  appearance: none;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: 1.5px solid white;
  border-radius: 30px;
  color: white;
  margin-left: 15px;
  padding-left: 15px;
}

.right-column select:focus {
  outline: none;
}

.right-column select:placeholder-shown {
}

.right-column select option {
  background-color: white;
  color: black;
}

.selectdiv {
  position: relative;
  min-width: 150px;
}

.selectdiv select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: ">";
  font: 17px "Consolas", monospace;
  color: #ffffff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  top: 5px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}

@media only screen and (max-width: 415px) {
  header .wrapper {
    width: 100%;
  }

  header .container {
    width: 100%;
    justify-content: flex-start;
    gap: 20%;
  }
  .logo-image {
    padding: 3px;
  }

  .right-column form {
    display: none;
  }

  .selectdiv {
    display: none;
  }
}
