.language-map {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: linear-gradient(180deg, #ebf0ff 0%, #5c77a7 0.01%, #2f528e 100%);
}

h1 {
  font-weight: 500;
  color: white;
}

.heading {
  margin: 0 auto;
}
