.language-map {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ebf0ff 0%, #5c77a7 0.01%, #2f528e 100%);
}
.map-container {
  padding-top: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


h1 {
  font-weight: 500;
  color: white;
}

.heading {
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .language-map {
    display: none;
  }
}
