.language-choosing-page {
  background: url(https://sellebration-main-web-git-master-host-sellebration.vercel.app/static/media/backimg.c405bb3a31f98c7b770f.png)
    repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.language-choosing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* padding-top: 20px; */
  width: 100vh;
}
.first-logo {
  display: flex;
  align-items: center;
}
.logo-image-container {
  width: 50%;
}
.text {
  color: black;
  font-size: 20px;
}

.light-blue-line {
  background-color: #0ab1ee;
  border-radius: 1rem;
  height: 150px;
  margin-left: 25px;
  margin-right: 1px;
  width: 4px;
}

.dark-blue-line {
  background-color: #2f528e;
  border-radius: 1rem;
  height: 150px;
  margin-left: 1px;
  margin-right: 25px;
  width: 4px;
}

.marquee {
  overflow: hidden;
  height: 55px;
  padding-top: 20px;
}

.landing__inner__middle__div {
  display: flex;
  flex-direction: column;
}

.landing__inner__middle__each {
  margin: 0;
}

.landing__inner__middle__each:nth-child(odd) {
  color: #2f528e;
}

.landing__inner__middle__each:nth-child(even) {
  color: #0ab1ee;
}

.language-selector {
  padding-top: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.selector-container select {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
  width: 221px;
  height: 75px;
  background-color: white;
  padding: 0px 22px;
}
.selector-container select option {
  font-size: 20px;
}

.selector-container select:focus {
  outline: inherit;
}

.selector-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  width: 251px;
  height: 95px;
  display: flex;
  align-items: center;
  padding: 16px;
  box-shadow: 0px 30px 30px rgba(0.2, 0.2, 0.2, 0.2);
  z-index: 1;
}

.selector-container:after {
  content: ">";
  font: 17px "Consolas", monospace;
  color: #322f2f;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 35px;
  top: 37px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}

.button-div {
  margin: 0 auto;
  padding: 10px;
}

.button-div button {
  background-color: #0ab1ee;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  width: 154px;
  margin-top: 15px;
  z-index: 3;
  box-shadow: 5px 15px 20px rgba(0.4, 0.4, 0.4, 0.4);
}

.button-div button:hover {
  background-color: #007bb5;
  transition: background-color 0.3s ease-in-out;
}

.background-map-holder {
  width: 100%;
  height: 80%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/maplanding.svg");
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

@media only screen and (max-width: 415px) {
  .language-choosing-page {
    background-size: cover;
  }

  .language-choosing-page-container {
    padding-top: 50px;
    background-size: 100% auto;
    background-position: 50% 55%;
  }
  .background-map-holder {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    height: 100%;
    margin-top: 20px;
    background-size: contain;
    background-position: 50% 30%;
  }

  .first-logo img {
    width: 299px;
  }

  .marquee {
    height: 60px;
    padding-left: 20px;
    padding-bottom: 15px;
  }

  .language-selector {
    padding-top: 0px;
  }

  .selector-container select {
    height: 50px;
    font-size: 16px;
  }

  .selector-container {
    padding: 15px;
  }

  .button-div button {
    width: 100%;
  }
  .first-logo {
    padding: 20px;
  }
}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .language-choosing-page-container {
    padding-top: 40px;
    background-size: 90% auto;
    background-position: 60% 40%;
  }

  .light-blue-line,
  .dark-blue-line {
    height: 120px;
  }

  .marquee {
    height: 120px;
    padding-top: 20px;
  }

  .selector-container select {
    width: 100%;
    height: 60px;
    font-size: 18px;
  }

  .selector-container {
    padding: 20px;
  }

  .button-div button {
    width: 150px;
    font-size: 16px;
  }

  .background-map-holder {
    width: 50%;
    height: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/image.png");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  .background-map-holder {
    align-items: flex-start;
    justify-self: start;
    justify-content: flex-start;
  }
}
